<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/forgotPassword.css}">
</head>
<body>
    <div class="box-form">
        <h2>Forgot Password</h2>
        <form action="/forgot-password" method="post">
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit">Send Reset Link</button>
        </form>
        <p>Remembered your password? <a href="/">Login</a></p>
    </div>
</body>
</html>